<div class="container">
    <div class="date_time">
<mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <input matInput type="text" [(ngModel)]="value">
    @if (value) {
      <span matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      </span>
    }
  </mat-form-field> 
</div>
<!--work mode-->
<div class="work_mode">
    <mat-form-field>
      <mat-label>Work mode*</mat-label>
      <mat-select [(ngModel)]="selectedWorkMode" name="food" placeholder="Select">
        @for (workmode of workmodes; track workmode) {
          <mat-option [value]="workmode.value">{{workmode.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</div>
<!--project-->
<app-dropdown-search
 [options]="projectOptions"
 [label]="'Select Project'"
 [(selectedOption)]="selectedProject"
 ></app-dropdown-search>
 <!--task-->
 <app-dropdown-search
 [options]="taskOptions"
 [label]="'Select Task'"
 [(selectedOption)]="selectedTask"
 ></app-dropdown-search>
 <!--description-->
<div class="description">
<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
</div>
<!--checkbox-->
<div class="checkbox">
    <mat-checkbox class="example-margin">Enable Project and Task Tracking</mat-checkbox>
</div>
</div>
