
<div class="container">
  <nav class="navbar">
     <div>
        <ul class="nav-links">
            <li><a routerLink="/sidebar/punchboard/punch-status">Status</a></li>
            <li><a routerLink="/sidebar/punchboard/punch-history">Punch History</a></li>
            <li><a routerLink="/punch-summary">Punch Summary</a></li>
            <li><a routerLink ="/sidebar/punchboard/approvals">Approvals</a></li>
            <li><a routerLink="/request-history">Request History</a></li>
            <li><a routerLink="/regularise-history">Regularise History</a></li>
        </ul>
     </div>
  </nav>
  <!-- <app-punchboard-status></app-punchboard-status> -->

</div>
<router-outlet></router-outlet>