
.container{
.image_left_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
    overflow: hidden;
   
    .background_image{
        display: block; 
        max-width: 100%; 
        height: auto; 
        margin: 0 auto; 
        max-width: 100%;
        
    }
}
}