<div class="container">
    
    <mat-toolbar>
        <div class="user_profile">
            
            <div class="user_img">
                <img *ngIf="userDetails?.data?.profileImgUrl" [src]="userDetails?.data?.profileImgUrl" alt="User Profile Picture" width="100" height="100" />
            </div>
        
            <div class="username">
                <h6>{{userDetails?.data?.personalDetails?.firstname}}</h6>
                <h6>{{userDetails?.data?.employeeCode}}</h6>
            </div>
           </div>
    </mat-toolbar>
</div>
