.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: paleturquoise;
    .mat-sidenav{
       // background-color: palegreen;
        width:250px;
        height: 100%;
        z-index: 1;
        .role{
            display: flex;
            align-items: center;
            padding-top: 20px;
            .employee{
                border:1px solid grey;

            }
            .admin{
                border:1px solid grey;

            }
        }
    }
    .mat-sidenav-content{
        background-color: green($color: #000000);
        margin-left: 250px;
        padding: 0;
        height: 100%;
    }
}