
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened>
     <mat-nav-list>
        <a mat-list-item routerLink="/sidebar/dashboard" routerLinkActive="active-link">Dashboard</a>
        <a mat-list-item routerLink="/sidebar/teams" routerLinkActive="active-link">Teams</a>
        <a mat-list-item routerLink="/punchboard" routerLinkActive="active-link">Punchboard</a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>