<h2 mat-dialog-title>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>

<mat-dialog-content>
    <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="step1Form">
      <form [formGroup]="step1Form">
      <app-step-one [formGroup]="step1Form"></app-step-one>
      <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="step2Form">
      <form [formGroup]="step2Form">
        <app-step-two [formGroup]="step2Form"></app-step-two>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        </form>
    </mat-step>
    <!-- <mat-step [stepControl]="step3Form"> -->
      <mat-step>
      <!-- <app-step-three [formGroup]="step3Form"></app-step-three> -->
      <!-- <app-step-three [step1Data]="step1FormGroup.value" [step2Data]="step2FormGroup.value" ></app-step-three> -->
      <app-step-three
      [step1Data]="step1Form.value"
      [step2Data]="step2Form.value">
    </app-step-three>  
         <button mat-button matStepperPrevious>Back</button>
         <button mat-button (click)="onSubmit()">
          {{ isEditMode ? 'Update' : 'Create' }}
         </button>
    </mat-step>
    
</mat-horizontal-stepper>
</mat-dialog-content>