<p>step-three works!</p>
<h3>Review Your Details</h3>

<div>
  <h4>Step 1: Personal Details</h4>
  <p><strong>First Name:</strong> {{ step1Data?.firstName }}</p>
  <p><strong>Last Name:</strong> {{ step1Data?.lastName }}</p>
  <!-- <p><strong>Gender:</strong> {{ step1Data?.gender }}</p> -->
</div>

<div>
  <h4>Step 2: Work Info</h4>
  <p><strong>shift:</strong> {{ step2Data?.shift }}</p> 
  <!-- <p><strong>Date of joining:</strong> {{ step2Data?.dateOfJoining }}</p>  -->
  <p><strong>designations:</strong>{{ step2Data?.designation}}</p>
  <p><strong>employmentStatus:</strong> {{ step2Data?.employmentStatus }}</p> 
  <p><strong>ctc:</strong> {{ step2Data?.ctc }}</p>
  <p><strong>Work Mode:</strong> {{ step2Data?.workMode }}</p>
</div>

