<div class="container">
    <div class="search_container">
    <input type="text" placeholder="Search..." [formControl]="searchControl">
    <img src="src/assets/images/search-normal.svg">
  <button (click)="addEmployee()">Add Employee +</button>
</div>

<table mat-table [dataSource]="teamList" class="mat-elevation-z8">
    
    <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef>Employee Name  </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}}</td>
      </ng-container>
  
    
    <ng-container matColumnDef="workEmail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.workEmail}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="employeeCode">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="workMobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let element"> {{element.workMobileNumber}} </td>
    </ng-container>
  
    
    <ng-container *ngIf="currentRole === 'admin'" matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
       <th mat-header-cell *matHeaderCellDef>Actions</th>
       <td *matCellDef="let element">
        <button mat-button color="primary" (click)="editEmployee(element)">Edit</button>
       </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  <div>
    <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,25,100]"
    (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>