
<div class="orglogin_container">
    <div class="left">
        <nms-entry></nms-entry>
    </div>
<form class="organisation_form">
    <h1 class="form_heading">Organsation Login</h1>
    <h4>Organisation ID</h4>
    <mat-form-field class="organisation">
      <mat-label>Organisation ID</mat-label>
      <input type="organisation_id" matInput 
             placeholder="Enter ID">
    </mat-form-field>
    <button mat-flat-button type="submit" class="btn" (click)="onSubmit()">Continue</button>

  </form>
  
</div>